body {
	background-color : black;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	color: #444;
	padding:0 0 2em 0;
	margin:0;
}

a { color: blue; }

h1 { color: green; }

p { color : white; }
